.work .text3 {
    margin-top: 700px;
}
.text3 h2 { 
    width:50%; text-align:left; border-bottom: 1px solid #000; line-height:0.1em; margin:10px 0 20px; 
} 
.text3 h2 span { 
    background:#fff; padding:10px 10px;
}
.text3 p{
    margin-left: 700px;
    margin-top: -80px;
    font-size: 70px;
    color: rgba(34, 34, 34, 0.1);
    float: left;
}
.work .image6{
    margin-top: 100px;
    margin-left: 180px;
}
.work .text4{
    width: 150px;
    height: 30px;
    color: white;
    position: relative;
    text-align: center;
    font-size: 14px;
    margin-top: 50px; 
    margin-left: 550px;
}

.text4 button:hover {
    color: #daa520;
}

.text4 button {
    text-transform: uppercase;
    border: 1px solid #000;
    border-radius: 10px;
    transition: ease 0.5s all;
    width: 220px;
    height: 25px;
}

.text4 button:hover {
    background-color: #daa520;
    color: #fff;
    border: 1px solid #daa520;
}
