.Home .text1 {
    margin-top: 500px;
}
.text1 h2 { 
    width:50%; text-align:left; border-bottom: 1px solid #000; line-height:0.1em; margin:10px 0 20px; 
} 
.text1 h2 span { 
    background:#fff; padding:10px 10px;
}
.text1 p{
    margin-left: 700px;
    margin-top: -80px;
    font-size: 70px;
    color: rgba(34, 34, 34, 0.1);
    float: left;
}
.Home .image3{
    float: left;
}
.Home .image4{  
    margin-top: 140px;
    margin-left: 650px;
}
.Home .image5{
    float: right;
    margin-top: 200px;
}
.Home .text2{
    float: left;
    margin-top: 200px;
    margin-right: 300px;
    font-size: 20px;
    font-weight: normal;
}
.Home .text2 span{
    font-weight: bold;
}
 
